<div class="container__header">
    <div class="container__header--info info">
        <h2 class="info__name">Playlists</h2>
    </div>
</div>
<div class="container__body">
    <h3>Tus playlists</h3>
    <div class="container__playlists">
        <shared-item-box 
        *ngFor="let item of usernamePlaylists.items"
        [data]="{
            images: item.images,
            name: item.name,
            subtitle: item.tracks.total + ' songs'
        }"
        routerLink="{{item.id}}"></shared-item-box>
    </div>
    <h3>Top Playlists</h3>
    <div class="container__playlists">
        <shared-item-box 
        *ngFor="let item of playlists.playlists.items"
        [data]="{
            images: item.images,
            name: item.name,
            subtitle: item.tracks.total + ' songs'
        }"
        routerLink="{{item.id}}"></shared-item-box>
    </div>
</div>