.container__header {
    padding: 2em;
    display: flex;
}
.container__body {
    padding: 2em;
}
.container__header--img {
    width: 10rem;
    min-width: 10rem;
}
.container__header--info {
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}